{% extends 'base.html' %}

{% block content %}

<h1>When will {{game.company}} reorg next?</h1>

{% if game.description %}
<p>
    {{game.description}}
</p>
{% endif %}
{% if not hasGuessed %}
    <details class="singleopen" {% if editing %}open{% endif %}>
        <summary class="buttonlike">Add your own guess</summary>
        <div class="createbox">
            <form method="post">
                <label>Name: <small>required</small><br>
                <input name="name" value="{{form.name}}"></label>
                <br>
                {% if errors.name %}
                <small>Name is required</small><br>
                {% endif %}
                <br>
                <label>Email:<br><input type="email" name="email" value="{{form.email}}"></label>
                <br>
                {% if errors.email %}
                <small>Use a valid email, or no email</small><br>
                {% endif %}
                <small>Optional. If given, we will email you when the game is over</small>
                <br>
                <br>
                <label>Reorg date:<br><input type="date" name="date" value="{{form.date}}"></label>
                {% if errors.date %}
                <br>
                <small>A date is required</small><br>
                {% endif %}
                <br>
                <br>
                <button type="submit">Make your guess</button>
            </form>
        </div>
    </details>
{% endif %}

<ol data-guess-list>
{% if guesses.length %}
    {% for guess in guesses %}
        <li>{{guess.name}} &bull; Reorg
        {% if guess.dayDelta > 0 %}
         in {{guess.dayDelta}} days
        {% else %}
         {{guess.dayDelta}} days ago
        {% endif %}
    {% endfor %}
{% else %}
    <li data-no-guess-placeholder>No guesses yet</li>
{% endif %}
</ol>

{% endblock %}