{% extends 'base.html' %}

{% block content %}

<h1>When will {{game.company}} reorg next?</h1>

{% if game.description %}
<p>
    {{game.description}}
</p>
{% endif %}

{% if not hasGuessed %}
    <details class="singleopen" data-guessbox>
        <summary class="buttonlike">Add your own guess</summary>
        <div class="createbox">
            <form action="/json/newguess" method="post" data-controller="newguess">
                <input name="game" type="hidden" value="{{game.id}}">
                <label>Name:<br><input name="name" value="{{form.name}}"></label>
                <br>
                <label>Email:<br><input type="email" name="email" value="{{form.email}}"></label>
                <br>
                <small>Optional. If given, we will email you when the game is over</small>
                <br>
                <label>Reorg date:<br><input type="date" name="date" value="{{form.date}}"></label>
                <br>
                <button type="submit">Make your guess</button>
                <div data-throbber class="hidden">Loading</div>
            </form>
        </div>
    </details>
{% endif %}

<ol data-guess-list>
{% if guesses.length %}
    {% for guess in guesses %}
        <li>{{guess.name}} &bull; {{guess.date|date("jS M Y")}}</li>
    {% endfor %}
{% else %}
    <li data-no-guess-placeholder>No guesses yet</li>
{% endif %}
</ol>

{% endblock %}