{% extends 'base.html' %}

{% block content %}

Game: {{game.title}}

<form method="post">ffwwwwww
    <label>Name:<br><input name="name" value="{{form.name}}"></label>
    <br>
    <label>Email:<br><input type="email" name="email" value="{{form.email}}"></label>
    {% if errors.email %}<br>Either no email, or a valid email address required.{% endif %}
    <br>
    <small>Optional. If given, we will email you when the game is over</small>
    <br>
    <label>Reorg date:<br><input type="date" name="date" value="{{form.date}}"></label>
    <br>
    <button type="submit">Submit</button>
</form>
{{form|json(4)}}

{% endblock %}