{% extends 'base.html' %}

{% block content %}

<p>
    Prose prose prose.. .
</p>

<p>
    Guess when the next reorg will be.
</p>

<p>
    List of public games?
</p>

<details class="singleopen" {% if editing %}open{% endif %} >
    <summary class="buttonlike">Cool beans! Let me make one</summary>
    <div class="createbox">

        <form method="post">
            <label>Email: <small>required</small></label>
            <br><input type="email" name="email" value="{{form.email}}">
            <br>
            {% if errors.email %}
                <small>Email is required.</small><br>
            {% endif %}
            <br>

            Company:<br><input name="company" value="{{form.company}}">
            <br>
            {% if errors.company %}
                <small>A company name is required</small><br>
            {% endif %}
            <br>

            <label>Description: </label><small>optional</small>
            <br><textarea name="body">{{form.description}}</textarea>
            <br>

            <button type="Submit">Make it</button>
        </form>
    </div>
</details>

{% endblock %}