{% extends 'base.html' %}

{% block content %}

<p>
    Prose prose prose.. .
</p>

<p>
    Guess when the next reorg will be.
</p>

<p>
    List of public games?
</p>

<details class="singleopen">
    <summary class="buttonlike">Cool beans! Let me make one</summary>
    <div class="createbox">

        <form action="/json/newgame" method="post" data-controller="newgame">
            <label>Email:</label>
            <br><input type="email" name="email" value="{{form.email}}">
            <br>

            Title:<br><input name="title" value="{{form.title}}">
            <br>

            <label>Body:</label>
            <br><textarea name="body">{{form.body}}</textarea>
            <br>

            <button type="Submit">Make it</button>
            <div data-throbber class="hidden">Loading</div>
        </form>
    </div>
</details>

{% endblock %}